.item1 { grid-area: "logo"; }
.item2 { grid-area: "menu"; }
.item3 { grid-area: "header"; }
.item4 { grid-area: "fadeslider"; }
.item5 { grid-area: "nivoslider"; }
.item6 { grid-area: "3dslider"; }
.item7 { grid-area: "footer"; }


.grid-container {
    display: grid;
    grid-template-areas: 
    'logo menu menu'
    'header header header'
    'fadeslider nivoslider 3dslider'
    'footer footer footer'
}